
/* タブバーの更新ボタンやストリーム等の追加ボタンがある場所 */
#streamTabInfo {
    
    background-color: #555 !important;
}

/* タブ項目が並べられている上部のバー */
#dashboardTabs {
    
    height: 24px !important;
    background-color: #555 !important;
}

/* タブバーの各項目 */
#dashboardTabs .tab {
    
    height: 24px !important;
}

/* タブバーの各項目のテキスト部分 */
#dashboardTabs .tab .text {
    
    line-height: 24px !important;
    height: 24px !important;
    color: white !important;
}

/* タブバーのタブを閉じるボタン */
#dashboardTabs button.-closeButton {
    
    position: absolute !important;
    top: 6.5px !important;
}

/* タブバーのタブを追加するボタン */
#dashboardTabs .addTab button {
    
    height: 24px !important;
    line-height: 22px !important;
}

/* タブバーの各項目が並べられた後の余白 */
#dashboardTabs .quickSearchWrapper {
    
    height: 24px !important;
}

/* タブバーのタブ追加ボタン */
.btn-showAddStream {
    
    bottom: 0px !important;
}

#dashboardTabs .-closeButton .-icon {
    
    filter: brightness(500%) !important;
}

/* タブバーで選択されたタブ */
#dashboardTabs .tab.active {
    
    height: 24px !important;
    background-color: #4169e1 !important;
    border: none !important;
}

#dashboardTabs .tab:hover {
    
    color: white !important;
    background-color: #5f9ea0 !important;
}

#dashboardTabs .tab.active>.text>.title {
    
    color: #eee !important;
}

/* タブバー上に浮遊配置されたストリーム追加ボタン */
#primaryView span.btn-showAddStream {
    
    background-color: #333 !important;
    padding: 3px !important;
    top: 12px !important;
    right: 140px !important;
    width: 32px;
    height: 32px;
}
