
/* 最上部にあるストリームヘッダー */
#streamsHeader {
    
    color: white !important;
    background-color: #333 !important;
}

/* ストリームヘッダー */
.es-header-darkmode {
    
    background-color: #111 !important;
    height: 30px !important;
}

/* ストリームヘッダーの "Upgrade my plan" */
.es-header-darkmode-button {
    
    height: 20px !important;
}

/* ストリームヘッダーの、右側アイコン */
.-global-account-navigation-anchor {
    
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    max-width: 20px !important;
    max-height: 20px !important;
}
